# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${BBPATH}/poky/meta \
    ${BBPATH}/poky/meta-poky \
    ${BBPATH}/meta-openembedded/meta-oe \
    ${BBPATH}/meta-openembedded/meta-multimedia \
    ${BBPATH}/meta-openembedded/meta-networking \
    ${BBPATH}/meta-openembedded/meta-perl \
    ${BBPATH}/meta-openembedded/meta-python \
    ${BBPATH}/meta-openembedded/meta-filesystems \
    ${BBPATH}/meta-raspberrypi \
    ${BBPATH}/meta-rpi \
    ${BBPATH}/meta-security \
    ${BBPATH}/meta-kodi \
    ${BBPATH}/meta-jumpnow \
    ${BBPATH}/meta-ptx \
    ${BBPATH}/meta-openmentos \
"
